* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}

/* scrollbar */

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--stroke-color);
  border-radius: 20px;
}